<div class="row">
  <div class="col-xs-12 d-flex">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput />
        </div>

        <!-- <div class="row mt-3">
          <div class="col-xs-12">
            <button class="btn btn-success mr-2" type="submit">Add</button>
            <button class="btn btn-danger mr-2" type="submit">Delete</button>
            <button class="btn btn-primary mr-2" type="submit">Clear</button>
          </div>
        </div> -->
        <div class="row mt-3">
          <div class="col-xs-12">
            <div
              class="btn-toolbar"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <div class="btn-group" role="group" aria-label="First group">
                <button
                  class="btn btn-success"
                  type="submit"
                  style="margin-right: 5px"
                  (click)="onAddItem()"
                >
                  Add
                </button>
              </div>
              <div
                class="btn-group mr-2"
                role="group"
                aria-label="Second group"
              >
                <button
                  type="button"
                  class="btn btn-danger"
                  style="margin-right: 5px"
                >
                  Delete
                </button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="third group">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-right: 5px"
                >
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
